<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yogadimas.homecontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".receiver.switch4.MyReceiverOff4"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch4.MyReceiverOn4"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch3.MyReceiverOff3"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch3.MyReceiverOn3"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch2.MyReceiverOff2"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch2.MyReceiverOn2"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch1.MyReceiverOff1"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".receiver.switch1.MyReceiverOn1"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":HomeController" />


        <activity
            android:name=".activity.TimerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >

        </activity>
    </application>

</manifest>